
<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="onChangeSideNavState()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Micro Front-End</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container style="height: calc(100vh - 80px);margin-top: 80px;">
  <mat-drawer mode="side" [opened]="sideNavState">
    <mat-list>
      <mat-list-item class="hover" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Home</div>
      </mat-list-item>
      <mat-list-item class="hover" [routerLink]="['/dashboard']" routerLinkActive="active">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <div matListItemTitle>Dashboard</div>
      </mat-list-item>
      <mat-list-item class="hover" [routerLink]="['/panel']" routerLinkActive="active">
        <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
        <div matListItemTitle>Panel</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
